
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/datatables.css" rel="stylesheet" />

<div>
    <div class="row">
        <div class="col-12">
            <h2>Transporte</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <span>Esta sección le permite ver los Transportes disponibles.</span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <div id="tabla" class="table-responsive"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Transporte.js"></script>
<script src="~/Scripts/datatables.min.js"></script>