
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/CSSpropio.css" rel="stylesheet" />
<link href="~/Content/datatables.css" rel="stylesheet" />

<div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Condición de Pago</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <span>Esta sección le permite ver las Condiciones de Pago disponibles.</span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div id="tabla" class="table-responsive"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Adcondiciondepago.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>