
@{
    ViewBag.Title = "Condiciones de Pago";
}

<link href="~/Content/datatables.css" rel="stylesheet" />

<div>
    <div class="row">
        <div class="col-12">
            <h2>Condiciones de Pago</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <span>Esta sección le permite realizar operaciones sobre las Condiciones de Pago.</span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <button type="button" onclick="abrirModal(null)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <div id="contenedor-tabla" class="table-responsive"></div>
        </div>
    </div>
</div>

<!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="modal-header" class="modal-header">
                <h4 class="modal-title">Agregar una Condición de Pago</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-10 offset-2">
                        <form id="formulario-condicion-pago" class="needs-validation" novalidate>
                            <div class="form-group">
                                <label for="id-condicion-pago">ID de Condición de Pago</label>
                                <input type="text" class="form-control borrar" id="id-condicion-pago" placeholder="ID de Condición de Pago" readonly />
                            </div>
                            <div class="form-group">
                                <label for="codigo-condicion-pago">Código de Condición de Pago</label>
                                <input type="text" class="form-control borrar" id="codigo-condicion-pago" placeholder="Ingrese Código de Condición de Pago" required />
                                <div class="invalid-feedback">
                                    Debe proporcionar un Código de Condición de Pago.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="descripcion-condicion-pago">Descripción</label>
                                <input type="text" class="form-control borrar" id="descripcion-condicion-pago" placeholder="Ingrese Descripción" required />
                                <div class="invalid-feedback">
                                    Debe proporcionar una Descripción.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dias-credito">Días de Crédito</label>
                                <input type="text" class="form-control borrar" id="dias-credito" placeholder="Ingrese Días de Crédito" required />
                                <div class="invalid-feedback">
                                    Debe proporcionar los Días de Crédito.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="importado-web">¿Importado Web?</label>
                                <input type="text" class="form-control borrar" id="importado-web" placeholder="¿Importado Web?" required />
                                <div class="invalid-feedback">
                                    Debe indicar si fue importado en la web.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="importado-profit">¿Importado Profit?</label>
                                <input type="text" class="form-control borrar" id="importado-profit" placeholder="¿Importado Profit?" required />
                                <div class="invalid-feedback">
                                    Debe indicar si fue importado en Profit.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="boton-agregar" onclick="Agregar()" type="button" class="btn btn-success">Agregar</button>
                <button id="boton-modificar" onclick="Modificar()" type="button" class="btn btn-success">Modificar</button>
                <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Adcondiciondepago.js"></script>
<script src="~/Scripts/datatables.min.js"></script>