
@{
    ViewBag.Title = "Index";
}

<h2>Condicion</h2>
<link href="~/Content/CSSpropio.css" rel="stylesheet" />
<link href="~/Content/datatables.css" rel="stylesheet" />

<select id=""></select>


<div id="tabla">



</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Adcondiciondepago.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>