
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/CSSpropio.css" rel="stylesheet" />

<div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Clientes</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <span>Esta sección le permite realizar operaciones sobre los Clientes.</span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <button type="button" onclick="abrirModal(0)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div id="tabla" class="table-responsive"></div>
        </div>
    </div>
</div>

<!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Agregar un Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-2 col-md-9 col-md-offset-3">
                        <form>
                            <div class="form-group">
                                <label for="txtidclientes">ID de Cliente</label>
                                <input type="text" class="form-control borrar" id="txtidclientes" placeholder="ID de Cliente" readonly />
                            </div>
                            <div class="form-group">
                                <label for="txtco_cli">Código de Cliente</label>
                                <input type="text" class="form-control borrar obligatorio" id="txtco_cli" placeholder="Ingrese Código de Cliente" />
                            </div>
                            <div class="form-group">
                                <label for="txtzonades">Zona</label>
                                <input type="text" class="form-control borrar obligatorio" id="txtzonades" placeholder="Ingrese Zona" />
                            </div>
                        </form>
                        <!--<table style="width:80%; margin:auto">
                            <tr>
                                <td width="40%">ID de Cliente</td>
                                <td width="60%"><input class="borrar" type="text" id="txtidclientes" readonly /></td>

                            </tr>
                            <tr>
                                <td width="40%">Código de Cliente</td>
                                <td width="60%"><input class="borrar obligatorio" type="text" id="txtco_cli" /></td>

                            </tr>
                            <tr>
                                <td width="40%">Zona Destino</td>
                                <td width="60%"><input class="borrar obligatorio" type="text" id="txtzonades" /></td>

                            </tr>
                        </table>-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="Agregar()" type="button" class="btn btn-success">Agregar</button>
                <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Adclientes.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>