
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/datatables.css" rel="stylesheet" />

<h2>Stock de Almacen</h2>

<div id="tabla">

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/StockAlma.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
